.card {
  border-radius: 20px !important;
  max-width: 425.46px !important;
  height: 100%;

  &:hover,
  &:active,
  &:focus-within {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

    figure {
      transform: scale(1.15) translateY(-17px);

      img {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }
    }

    aside {
      background-color: #ffb63b !important;
      color: #3b3735 !important;
      transform: translateY(-40px);
    }

    svg {
      color: #ffb63b;
      // filter: brightness(90%);
    }

    #ratings {
      color: #ffb63b;
    }

    #details {
      background-color: blue !important;
    }
  }

  button {
    // color: #f2c975;
    color: ffb63b;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.price {
  transition: all 0.3s ease-out;
  color: #ffb63b;
  font-family: Montserrat !important;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.875rem;
  background-color: white;
  border-radius: 18px;
  transform: translateY(-4px);
  padding: 13px 35px;
  margin-bottom: -42px !important;
  transform: translateY(-28px);
}

.figure {
  transition: all 0.3s ease-out;
  border-radius: 20px;
  padding: 22px;
  padding-bottom: 0;
  margin: 0;
  // margin-bottom: -6px;
}

.img {
  transition: all 0.3s ease;
  border-radius: 25px;
  // height: 247.06px;
}

.summary {
  // padding-bottom: 4px;
  padding: 0 7px 4px;
  line-height: 26.32px;
  // padding-right: 25.46px;
}

.name {
  transform: translateX(-6%);
}

.tokens {
  display: grid;
  grid-template-columns: 50% 50%;
}

.token {
  color: #3b3735;
  font-family: 'Work Sans', sans-serif !important;
  padding-left: 50px;
  display: inline-block;
  // margin-bottom: 1.25rem !important;
  min-height: 3rem;
  margin-bottom: 0 !important;
  font-size: 18px !important;

  svg {
    transition: all 0.3s;
    color: #f2c975;
    vertical-align: top;
    width: 24px;
    margin-right: -30px;
    transform: translate(-30px, 2px);
  }
}

.actions {
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 25px 25px 15px !important;
  // margin-right: 1.5rem;
}

.ratings {
  color: #ffb63b;
  font-family: Montserrat !important;
  font-size: 18px !important;
  font-style: normal;
  font-weight: 400 !important;
  line-height: 22px !important;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 15px !important;
  margin-bottom: 0 !important;
}

.details {
  border-radius: 20px !important;
  text-transform: unset !important;
  background-color: #ffd985 !important;
  color: #3b3735 !important;
  font-family: Montserrat !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 18px !important;
  line-height: 22px !important;
  padding: 0.563rem 2.5rem !important;
}
