#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  > main {
    flex-grow: 1;

    word-break: break-word;
  }

  > footer {
    text-align: center;
    a {
      white-space: nowrap;
    }
  }
}
